[Desktop Entry]
Name = vrniture
Exec = /usr/local/bin/processing-java --sketch=/home/pi/src/vrniture/processing/circles/ --run
Icon = /home/pi/src/vrniture/icons/png/008-fields.png
Type = Application

# From https://www.raspberrypi.org/forums/viewtopic.php?f=34&t=187613
# Copy to ~/.config/autostart/ 

